body {
  background-color: #fff;
  background-image: none;
}

.logo {
  padding-top: 2px;
  cursor: pointer;
  text-decoration: none;
}

.logo-title {
  color: #545454;
}

.logo-description {
  color: #292929;
}

.navbar__link {
  color: #545454;
}

.navbar__link:hover {
  color: #292929;
}

.header-nav {
  padding-top: 27px;
}

header {
  padding-bottom: 30px;
  position: fixed;
  background-color: #fff;
  overflow: hidden;
}

.active:before {
  bottom: -7px;
}

.page {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1200px;
}

.slick-slide {
  width: 1200px !important;
}

.slick-list {
  width: 1200px !important;
}

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 29px;
}

.card:nth-child(3) {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 30px;
}

.card:nth-child(2) {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 30px;
}

.full-image {
  padding: 0;
}

.card {
  padding-bottom: 45px;
  margin-bottom: 30px;
}

.card-img {
  padding-bottom: 26px;
}

.ourfriends {
  padding-top: 210px;
}

.ourfriends-title {
  padding-bottom: 60px;
}

.control-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  line-height: 115%;
  color: #292929;
  max-width: 340px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.first, .previous, .next, .last, .current-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48px;
  height: 48px;
  border: 2px solid #FDDCC4;
  border-radius: 100px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.first:hover, .previous:hover, .next:hover, .last:hover, .current-page:hover {
  background-color: #FDDCC4;
  cursor: pointer;
}

.current-page {
  background-color: #FDDCC4;
}

.inactive {
  color: #cdcdcd;
  border: 2px solid #cdcdcd;
  pointer-events: none;
}

.inactive:hover {
  background-color: #f6f6f6;
}

.footer {
  padding-top: 37px;
}

.contacts-column, .adress-column {
  bottom: 22px;
}

.ourfriends {
  padding-bottom: 101px;
}

.logo-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1280px) {
  .catalog {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 580px;
    padding-bottom: 10px;
  }
  .card:nth-child(3) {
    overflow: visible;
    max-width: 270px;
    width: 100%;
    height: auto;
  }
  .ourfriends {
    padding-top: 201px;
    padding-bottom: 76px;
  }
  .ourfriends-title {
    padding-bottom: 30px;
  }
  .footer {
    padding-top: 50px;
  }
  .slick-slide {
    width: 580px !important;
  }
}

@media screen and (max-width: 768px) {
  .overflow {
    overflow: hidden;
  }
  .navbar__link {
    color: #CDCDCD;
  }
  .navbar__link:hover {
    color: #FAFAFA;
  }
  .header-nav {
    height: 82px;
  }
  .logo-mobile {
    padding-right: 42px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    top: 27px;
    width: 255px;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    overflow: hidden;
    z-index: 6;
  }
  .logo-mobile-active {
    right: 0;
    -webkit-transform: translateX(-54px);
            transform: translateX(-54px);
    padding-right: 0;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
  }
  .logo-title__mobile {
    color: #F1CDB3;
  }
  .logo-description__mobile {
    color: #fff;
  }
  .popup {
    position: fixed;
    top: 0;
    background-color: rgba(41, 41, 41, 0.6);
    z-index: 1;
    -webkit-transition: 0.8s ease;
    transition: 0.8s ease;
    opacity: 0;
    visibility: hidden;
  }
  .popup-active {
    width: 100%;
    height: 100vh;
    opacity: 1;
    visibility: visible;
  }
  header {
    padding-bottom: 11px;
  }
  .header-position {
    position: fixed;
    background-color: rgba(41, 41, 41, 0);
    z-index: 2;
  }
  .ourfriends {
    padding-top: 162px;
    padding-bottom: 41px;
  }
  .ourfriends-title {
    padding-bottom: 42px;
  }
  .catalog {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 270px;
  }
  .card:nth-child(2) {
    width: 270px;
    height: auto;
  }
  .card:nth-child(3) {
    width: 270px;
    height: auto;
  }
  .card {
    padding-bottom: 28px;
  }
  .footer {
    padding-top: 53px;
  }
  .page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .slick-slide {
    width: 260px !important;
    height: auto;
  }
  .slick-list {
    height: auto;
    width: 260px !important;
  }
}
/*# sourceMappingURL=pets-style.css.map */