{
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "extends": ["airbnb/base"],
    "rules": {
        "no-console": "off",
        "no-tabs": "off",
        "semi": "warn",
        "no-plusplus": "off",
        "indent": [2,"tab"]
    }
}
