html, body, div, h1, h2, p{
    margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #3f3f3f;
}
.container {
    display: flex;
    max-width: 1024px;
    margin: auto;
    font-size: 16px;
    flex-direction: column;
}
p{
    line-height: 20px;
}
ul{
    padding-left: 20px;
}
h2{
    padding-bottom: 15px;
}
.contacts{
    padding-bottom: 20px;
}
.goal{
    max-width: 500px;
    padding-bottom: 20px;
}
.lastworkplace{
    padding-bottom: 20px;
}
.education-list{
    max-width: 400px;
}
a{
    text-decoration: none;
    color: #000;
}
a:hover{
    color:#646467
}
header{
    display: flex;
    width: 100%;
    background-color: #393838;
}
h1{
    color: #fff;
}
.works-list{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.works__item:last-child{
    padding-left: 20px;
}
.works__item img{
    width: 100px;
}
.works__item{
    filter: opacity(20%);
    transition: 0.4s;
}
.works__item:hover{
    filter: opacity(100%);
}
.social img{
    width: 22px;
    filter: invert(85%);
    transition: 0.4s;
}
.social img:hover{
    filter: invert(30%);
}
.social{
    padding-right: 5px;
}
.links{
    padding-bottom: 20px;
}
.fluid{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.logo{
    width: 120px;
}
.leftside{
    flex-basis: 30%;
    background-color: #2A2A2A;
    color: #fff;
    padding: 20px 30px;
}
.rightside{
    padding-top: 20px;
    flex-basis: 100%;
    background-color: #fff;
    padding-bottom: 50px;
}
.section-skills, .section-education, .section-lastwork, .section-english, .section-works{
    padding-left: 20px;
    padding-right: 10px;
}
@media screen and (min-width: 992px){
    .leftside{
        flex-basis: 40%;
    }
}
@media screen and (min-width: 768px){
    .leftside{
        flex-basis: 45%;
    }
    .main {
        font-size: 16px;
    }
    
}

@media screen and (min-width: 320px){
    .leftside{
        flex-basis: 100%;
    }
    .rightside{
        flex-basis: 100%;
    }
    .main{
        flex-direction: column;
    }
    .social img{
        width: 35px;
    }
}
@media screen and (min-width: 576px){
    .main{
        font-size: 12px;
        flex-direction: row;
    }
    .leftside{
        flex-basis: 45%;
    }
    .rightside{
        min-width: 348px;
    }
    .social img{
        width: 22px;
    }

}