body {
  margin: 0;
  font-family: 'RobotoMeduim', sans-serif;
  overflow-X: hidden;
}

h1 {
  margin: 0;
}

button {
  font-family: 'RobotoRegular', sans-serif;
}

.header {
  margin-top: 59px;
}

.header-logo {
  background: url(../img/logo.png) center no-repeat;
  background-size: 100%;
  width: 191px;
  height: 61px;
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-contacts__phone {
  font-size: 22px;
  font-weight: 600;
  margin-right: 13px;
}

.header-contacts__phones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-contacts__phone:first-child {
  border-right: 1px solid #cfcfd0;
  padding-right: 13px;
}

.button {
  padding: 13px 28px;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  color: #fff;
  background-color: #ff9d00;
  border: 1px solid transparent;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:hover {
  background-color: #ffb133;
}

.button-o {
  background-color: transparent;
  color: #373737;
  border: 1px solid rgba(55, 55, 55, 0.5);
}

.button-o:hover {
  color: #fff;
  border: 1px solid transparent;
}

.button img {
  vertical-align: middle;
  margin-right: 7px;
}

.main {
  position: relative;
  margin-top: 15px;
  padding-top: 65px;
  padding-bottom: 60px;
  background: #373737 url(../img/section-bg.jpg) center no-repeat;
  background-size: cover;
  color: #fff;
  z-index: 1;
}

.main::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.main img {
  width: 100%;
}

.main-img {
  position: relative;
}

.main-img::before {
  content: '';
  position: absolute;
  z-index: -2;
  left: 15%;
  width: 390px;
  height: 390px;
  border: 1px solid #fff;
  border-radius: 50%;
}

.main-img::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 70px;
  display: block;
  z-index: 4;
  width: 60px;
  height: 50px;
  background-image: url(../img/ros.png);
}

.main-text__title {
  margin-bottom: 20px;
  font-size: 41px;
  font-weight: 700;
  line-height: 42px;
}

.main-text__subtitle {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 25px;
}

.main-text__form {
  padding: 25px 27px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-title {
  padding-right: 87px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
}

.form-title__upper {
  display: block;
  font-weight: 700;
  text-transform: uppercase;
}

.form-small {
  margin-left: 18px;
  font-size: 14px;
  font-weight: 300;
}

.form__input {
  width: 70%;
  padding: 20px;
  margin-right: 10px;
  border-radius: 4px;
  border: none;
  outline: none;
}

.button__big {
  width: 30%;
  padding: 13px 10px;
}

.overlay {
  position: fixed;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.4);
}

.overlay .popup {
  position: fixed;
  top: 100px;
  left: 50%;
  width: 800px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.overlay .popup-close {
  position: absolute;
  right: -20px;
  top: -35px;
  font-size: 35px;
  color: #fff;
  cursor: pointer;
}

.overlay .popup-title {
  display: block;
  width: 100%;
  min-height: 71px;
  margin: 0;
  background-color: #ff9d00;
  color: #fff;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 71px;
  font-weight: 500;
  text-align: center;
}

.overlay .popup-form {
  background: url(../img/popup-bg.jpg) center no-repeat;
  background-size: cover;
  padding: 35px 88px 50px 88px;
  color: #fff;
}

.overlay .popup-form-header {
  padding: 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
}

.overlay .popup-form-header span {
  font-size: 24px;
}

.overlay .popup-form__label {
  display: block;
  margin-top: 23px;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
}

.overlay .popup-form__input {
  margin-top: 17px;
  padding-left: 18px;
  width: 365px;
  height: 56px;
  border-radius: 3px;
  border: none;
  outline: none;
}

.overlay .popup-form__btn {
  height: 56px;
  margin-left: 16px;
  font-size: 15px;
  font-weight: 500;
  line-height: 27px;
}

.overlay .popup-form__note {
  margin-top: 9px;
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
}

/* =====section features========== */
.features {
  background-color: #f4f4f4;
  padding-top: 49px;
  padding-bottom: 55px;
}

.features-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 31%;
      flex-basis: 31%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  padding: 28px 19px;
  margin-bottom: 30px;
}

.features-block__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  margin-right: 9px;
}

.features-block__title {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 8px;
}

.features-block__descr {
  font-size: 14px;
  font-weight: 400;
}

@media (max-width: 992px) {
  .features-block {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
  __text {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

.numbers {
  text-align: center;
  margin-bottom: 37px;
}

.numbers-block {
  display: inline-block;
  width: 33%;
  vertical-align: top;
}

.numbers-block__title {
  margin-bottom: 10px;
  font-family: 'RobotoBold', sans-serif;
  font-size: 36px;
  font-weight: 300;
  color: #ff9d00;
}

.numbers-block__title sup {
  font-size: 20px;
}

/* =====products========== */
.section-title {
  margin-bottom: 29px;
  font-size: 27px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.section-title::after {
  content: '';
  display: block;
  margin-top: 12px;
  height: 6px;
  background: url(../img/products/line.png) center no-repeat;
}

.products {
  padding-top: 57px;
}

.products-block {
  margin-bottom: 35px;
  text-align: center;
}

.products-block__img {
  max-width: 100%;
  margin-bottom: 19px;
}

.products-block__title {
  margin-bottom: 28px;
  font-size: 20px;
  font-weight: 700;
}

.products-block__button {
  margin-right: 12px;
}

.products-block__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients {
  text-align: center;
  padding-bottom: 61px;
}

.align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.client-row {
  margin-bottom: 30px;
}

.client-block {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  width: 100%;
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.client-block img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  max-height: 100%;
  max-width: 100%;
}

.client-block img:hover {
  -webkit-filter: none;
          filter: none;
  cursor: pointer;
}

*.production {
  overflow-x: hidden;
  padding-top: 87px;
  padding-bottom: 95px;
}

*.production-text__title {
  margin-left: -30px;
  margin-top: 19px;
  padding-top: 20px;
  padding-bottom: 16px;
  padding-left: 50px;
  font-size: 28px;
  font-weight: 400;
  line-height: 22px;
  color: #fff;
  background-color: #ff9d00;
}

*.production-text__descr {
  padding-top: 28px;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: #373737;
}

*.production-slider_top {
  height: 377px;
  overflow-y: hidden;
  margin-bottom: 13px;
}

*.production-slider_bottom {
  height: 78px;
  padding-left: 30px;
  padding-right: 30px;
  overflow-y: hidden;
}

*.production-slider_bottom img {
  margin: 0 6px;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.slick-current {
  -webkit-filter: none !important;
          filter: none !important;
}

.slider-arrow {
  position: absolute;
  top: 0;
  z-index: 20;
  height: 100%;
  width: 22px;
}

.slider-arrow:hover {
  cursor: pointer;
}

.slider-arrow_right {
  right: 0;
  background: url(../img/arrow-right.png) center no-repeat;
}

.slider-arrow_right:hover {
  background: #ff9d00 url(../img/arrow-right_active.png) center no-repeat;
}

.slider-arrow_left {
  left: 0;
  background: url(../img/arrow-left.png) center no-repeat;
}

.slider-arrow_left:hover {
  background: #ff9d00 url(../img/arrow-left_active.png) center no-repeat;
}

.slider-arrow_feedback {
  height: 30%;
  top: 35%;
}

/* ============feedback======== */
.feedback {
  padding-top: 55px;
  padding-bottom: 66px;
  background-color: #f4f4f4;
}

.feedback-slider img {
  width: 270px !important;
  margin: 0 auto;
}

.feedback-slider__item {
  outline: none;
}

.feedback-slider__item img {
  height: 370px !important;
}

/* =========offer======== */
.dark-bg {
  position: relative;
}

.dark-bg::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.offer {
  padding-top: 64px;
  padding-bottom: 69px;
  color: #fff;
  background: grey url(../img/offer-bg.jpg) center no-repeat;
  background-size: cover;
  z-index: 2;
  text-align: center;
}

.offer-title {
  font-size: 32px;
  font-weight: 400;
}

.offer-title_small {
  display: block;
  font-size: 26px;
}

.offer-form__label {
  display: block;
  margin-bottom: 17px;
  font-size: 20px;
  font-family: 'RobotoLight', sans-serif;
}

.offer-form__input {
  display: block;
  width: 100%;
  margin: auto;
  margin-bottom: 12px;
  border-radius: 4px;
  border: none;
  outline: none;
  max-width: 365px;
}

.offer-form__button {
  margin-bottom: 9px;
}

.contacts {
  position: relative;
}

.contacts-block {
  position: absolute;
  left: 10%;
  top: 10%;
  z-index: 1;
  background-color: #fff;
  padding-top: 33px;
  padding-left: 62px;
  padding-right: 34px;
}

.contacts-block__title {
  display: block;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
}

.contacts-block__text {
  margin-bottom: 30px;
}

.footer {
  background-color: #1b1b1b;
}

.footer-text {
  padding-top: 36px;
  padding-bottom: 39px;
  text-align: center;
  font-size: 13px;
  font-weight: 300;
  color: #7e7e7e;
}

@media (max-width: 768px) {
  .header {
    margin-top: 10px;
  }
  .header-logo {
    background: #ff9d00 url(../img/logo-mobile.png) center no-repeat !important;
    width: 38px;
    height: 38px;
    border-radius: 4px;
  }
  .header-logo img {
    display: none;
  }
  .header-contacts__phone {
    font-size: 14px;
    margin-right: 0;
  }
  .header-contacts__phones {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-contacts__phone:first-child {
    border: none;
  }
  .header-contacts__button {
    display: inline-block;
    padding: 4px 3px 6px 6px !important;
  }
  .header-contacts__button img {
    margin-right: 0;
  }
  .hidden-mobile {
    display: none;
  }
  .main {
    padding-top: 0 !important;
    padding-bottom: 40px !important;
  }
  .main-text {
    text-align: center;
    padding-top: 50px;
  }
  .main-text__title {
    color: #ff9d00;
  }
  .main-text__subtitle {
    margin-bottom: 40px !important;
  }
  .main-text__form {
    background-color: transparent !important;
    padding: 0px !important;
  }
  .form {
    display: block !important;
  }
  .form-title {
    padding-right: 0 !important;
    line-height: 1.4 !important;
  }
  .form__input {
    margin-bottom: 13px !important;
    text-align: center;
    width: 290px;
  }
  .popup-form {
    padding: 10px 20px !important;
  }
  .popup-form__input {
    width: 200px !important;
    margin-bottom: 10px !important;
  }
  .features-block {
    margin-bottom: 10px !important;
    -ms-flex-preferred-size: 100% !important;
        flex-basis: 100% !important;
  }
  .client-block {
    height: 76px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .client-block img {
    max-width: 80% !important;
    max-height: 80% !important;
  }
  .production {
    padding-bottom: 56px;
  }
  .production-text__title {
    margin-left: -100px !important;
    margin-right: -100px !important;
  }
  .production-text__descr {
    font-size: 14px;
  }
  .col-12 {
    padding: 0;
  }
  .slider-arrow_right {
    background: #ff9d00 url(../img/arrow-right_active.png) center no-repeat !important;
  }
  .slider-arrow_left {
    background: #ff9d00 url(../img/arrow-left_active.png) center no-repeat !important;
  }
  .right {
    right: 97px !important;
  }
  .left {
    left: 97px !important;
  }
  .contacts-block {
    position: relative;
    top: 0;
    left: 0;
    text-align: center;
  }
  .contacts-block__text {
    margin-bottom: 15px;
  }
  .second {
    padding-top: 15px;
  }
  .phone-number {
    display: block;
    padding-bottom: 10px;
  }
}

@media (max-width: 576px) {
  .main-text__title {
    font-size: 24px !important;
    margin-bottom: 0 !important;
  }
  .main-text__subtitle {
    font-size: 22px !important;
  }
  .form-title {
    font-family: 'RobotoLight', sans-serif;
  }
  .form__input {
    width: 280px !important;
  }
  .section-title {
    font-size: 20px !important;
  }
  .section-title::after {
    display: none !important;
  }
  .popup-title {
    font-size: 18px !important;
  }
  .popup-form {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    padding: 0 !important;
  }
  .popup-form-header {
    padding: 15px !important;
    font-size: 20px !important;
  }
  .popup-form-header span {
    font-size: 20px !important;
  }
  .popup-form__input {
    width: 200px !important;
    padding-left: 10px  !important;
    margin-bottom: 10px !important;
  }
  .popup-form__btn {
    width: 200px !important;
    padding-right: 10px !important;
    padding-left: 10px !important;
    margin: 0 !important;
    font-size: 13px !important;
  }
  .popup-form__big {
    width: 180px !important;
  }
  .header-contacts__button {
    padding: 9px !important;
  }
  .numbers {
    margin: 0 !important;
  }
  .features {
    padding-bottom: 45px !important;
    padding-top: 25px !important;
  }
  .features-block {
    padding: 17px 19px !important;
  }
  .button {
    padding: 13px 20px !important;
  }
  .button__big {
    padding: 15px 10px !important;
    width: 180px !important;
  }
  .products {
    padding-bottom: 55px !important;
  }
  .header-contacts__button {
    padding: 4px 3px 6px 6px !important;
  }
  .production-slider_top {
    height: 80%;
  }
  .feedback-container {
    width: 320px !important;
  }
  .right {
    right: -3px !important;
  }
  .left {
    left: -3px !important;
  }
  .offer-title {
    font-size: 20px !important;
  }
  .offer-title_small {
    font-size: 16px !important;
  }
  .offer-form__label {
    font-size: 14px !important;
  }
  .offer-form-small {
    font-size: 13px !important;
  }
}

@media (max-width: 992px) {
  .numbers-block {
    width: 100%;
    margin-bottom: 50px;
  }
  .header-contacts__phone {
    font-size: 16px;
    font-weight: 500;
  }
  .header-contacts__phones {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-contacts__phone:first-child {
    border-right: none;
  }
  .header-contacts__button img {
    margin-right: 3px;
  }
  .phone-numbers {
    font-weight: 600;
  }
  .main-text {
    text-align: center;
  }
  .main-text__title {
    color: #ff9d00;
  }
  .popup {
    width: 90% !important;
  }
  .popup-form__input {
    width: 250px !important;
  }
  .client-row {
    margin-bottom: 0 !important;
  }
  .client-border {
    padding-bottom: 14px !important;
  }
  .client-border img {
    -webkit-filter: none !important;
            filter: none !important;
  }
  .slider-arrow_right {
    right: 0;
  }
  .slider-arrow_left {
    left: 0;
  }
  .right {
    right: 15px;
  }
  .left {
    left: 15px;
  }
  .production {
    padding-top: 28px;
    padding-bottom: 56px;
  }
  .production-text__title {
    margin-left: 0;
    padding-left: 0;
    text-align: center;
  }
  .production-text__descr {
    padding-top: 17px;
    padding-bottom: 22px;
    text-align: center;
  }
  .production-slider_bottom {
    display: none !important;
  }
  .slider-arrow_prod {
    height: 30%;
    top: 30%;
  }
  .slider-arrow_right {
    background: #ff9d00 url(../img/arrow-right_active.png) center no-repeat !important;
  }
  .slider-arrow_left {
    background: #ff9d00 url(../img/arrow-left_active.png) center no-repeat !important;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .main-img::before {
    left: 13% !important;
    width: 330px !important;
    height: 330px !important;
  }
}

@media (max-width: 768px) {
  .features-blocks {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1200px) {
  .feedback-slider img {
    width: 290px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .right {
    background: url(../img/arrow-right-big.png) center no-repeat !important;
  }
  .right:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .left {
    background: url(../img/arrow-left-big.png) center no-repeat !important;
  }
  .left:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@media (min-width: 1400px) {
  .contacts-block {
    left: 20% !important;
  }
}

@meida (min-width: 769px) {
  .contacts-block__mobile {
    display: none;
    z-index: 1;
  }
}
/*# sourceMappingURL=main.css.map */