@font-face {
  font-family: 'RobotoMedium';
  src: url("../fonts/RobotoMedium.eot");
  src: url("../fonts/RobotoMedium.eot") format("embedded-opentype"), url("../fonts/RobotoMedium.woff2") format("woff2"), url("../fonts/RobotoMedium.woff") format("woff"), url("../fonts/RobotoMedium.svg#RobotoMedium") format("svg"), url("../fonts/RobotoMedium.ttf") format("truetype");
/*  font-weight: 500;
  font-style: normal;*/ }

@font-face {
  font-family: 'RobotoBold';
  src: url("../fonts/RobotoBold.eot");
  src: url("../fonts/RobotoBold.eot") format("embedded-opentype"), url("../fonts/RobotoBold.woff2") format("woff2"), url("../fonts/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold.ttf") format("truetype"), url("../fonts/RobotoBold.svg#RobotoBold") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'RobotoLight';
  src: url("../fonts/RobotoLight.eot");
  src: url("../fonts/RobotoLight.eot") format("embedded-opentype"), url("../fonts/RobotoLight.woff2") format("woff2"), url("../fonts/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight.ttf") format("truetype"), url("../fonts/RobotoLight.svg#RobotoLight") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'RobotoLightItalic';
  src: url("../fonts/RobotoLightItalic.eot");
  src: url("../fonts/RobotoLightItalic.eot") format("embedded-opentype"), url("../fonts/RobotoLightItalic.woff2") format("woff2"), url("../fonts/RobotoLightItalic.woff") format("woff"), url("../fonts/RobotoLightItalic.ttf") format("truetype"), url("../fonts/RobotoLightItalic.svg#RobotoLightItalic") format("svg");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'RobotoMediumItalic';
  src: url("../fonts/RobotoMediumItalic.eot");
  src: url("../fonts/RobotoMediumItalic.eot") format("embedded-opentype"), url("../fonts/RobotoMediumItalic.woff2") format("woff2"), url("../fonts/RobotoMediumItalic.woff") format("woff"), url("../fonts/RobotoMediumItalic.ttf") format("truetype"), url("../fonts/RobotoMediumItalic.svg#RobotoMediumItalic") format("svg");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'RobotoRegular';
  src: url("../fonts/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular.eot") format("embedded-opentype"), url("../fonts/RobotoRegular.woff2") format("woff2"), url("../fonts/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular.ttf") format("truetype"), url("../fonts/RobotoRegular.svg#RobotoRegular") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'RobotoThin';
  src: url("../fonts/RobotoThin.eot");
  src: url("../fonts/RobotoThin.eot") format("embedded-opentype"), url("../fonts/RobotoThin.woff2") format("woff2"), url("../fonts/RobotoThin.woff") format("woff"), url("../fonts/RobotoThin.ttf") format("truetype"), url("../fonts/RobotoThin.svg#RobotoThin") format("svg");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'RobotoThinItalic';
  src: url("../fonts/RobotoThinItalic.eot");
  src: url("../fonts/RobotoThinItalic.eot") format("embedded-opentype"), url("../fonts/RobotoThinItalic.woff2") format("woff2"), url("../fonts/RobotoThinItalic.woff") format("woff"), url("../fonts/RobotoThinItalic.ttf") format("truetype"), url("../fonts/RobotoThinItalic.svg#RobotoThinItalic") format("svg");
  font-weight: 100;
  font-style: italic; }
